player-connection-mode=Listen
player-connection-guid=3304820384
player-connection-debug=1
player-connection-project-name=SatelliteBase
player-connection-ip=130.216.37.72
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=4858ecf973c24ff0bfdc72a1c69b611a
